@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media screen and (min-width:992px) {
  .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
  }

  .nav-link {
    font-size: 18px;
  }
}

body {
  background-color: #f8f8ff;
}

.nav-link:hover {
  border-bottom:2px solid yellow;
}

.body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #4b0082;
}
