<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="192x192" href="../static/images/icon.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Agent Dashboard</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand text-white" href="../"><img src="../static/images/logo.png" width="50"> FlipMart Customer Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class=" nav-item">
                    <a class="nav-link text-white" href="../">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <h2 class="text-center my-5">Agent Dashboard</h2>

    <section>
        <div class="container card my-5 p-3">
            <h5>Hello! {{agent_name}}</h5>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="search" class="mr-3">Apply Filter: </label>
                            <select class="form-control form-control-sm" id="filter">
                                <option value="All" selected>All</option>
                                <option value="Agent Assigned">Agent Assigned</option>
                                <option value="Completed">Closed</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-md-end">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="search" class="mr-3">Search Table: </label>
                            <input class="form-control form-control-sm" type="text" id="myInput"
                                placeholder="Start Typing Here...">
                        </div>
                    </form>
                </div>
            </div>
            <h4 class="mb-3">All Tickets:</h4>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-center tr-bg">
                        <th scope="col">#TicketNo</th>
                        <th scope="col">Ticket Details</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Status</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for row in data %}
                    <tr>
                        <td class="text-center">{{row.ticket_no}}</td>
                        <td><a class="btn text-primary" data-toggle="collapse" href="#collapseExample{{row.ticket_no}}"
                                role="button" aria-expanded="false" aria-controls="collapseExample{{row.ticket_no}}">
                                View Details
                            </a>
                            <div class="collapse" id="collapseExample{{row.ticket_no}}">
                                <div class="card card-body">
                                    <p><b>Email:</b></p>
                                    <p>{{row.customer_email}}</p>
                                    <p><b>Category: </b>{{row.category}}</p>
                                    <p><b>Subject:</b></p>
                                    <p>{{row.subject}}</p>
                                    <p><b>Description:</b></p>
                                    <p>{{row.description}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">{{row.timestamp}}</td>
                        <td class="text-center"><span class="badge badge-pill badge-primary {{row.status}}">{{row.status}}</span></td>
                        <td class="text-center">
                            <form action="{{ url_for('agentdashboard') }}" method="post">
                                <div class="form-group">
                                    <input type="hidden" class="btn btn-primary" name="status" value="Closed">

                                    <input type="hidden" name="ticketno" id="ticketno" value="{{row.ticket_no}}"
                                        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <input type="submit" class="btn btn-sm disable-{{row.status}}" value="Mark As Solved">
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>


    <footer class="text-white py-2" data-aos="fade-up">
        <div class="row m-0">
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">ABOUT</h5>
                <p>FlipMart is an e-commerce company, FlipMart is known for its disruption of well-established
                    industries through technological innovation and mass scale.</p>
            </div>
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">QUICK LINKS</h5>
                <a class="text-white" href="{{url_for('customerlogin')}}">Customer Login</a><br>
                <a class="text-white" href="{{url_for('customerregister')}}">Customer Register</a><br>
                <a class="text-white" href="{{url_for('agentlogin')}}">Agent Login</a><br>
                <a class="text-white" href="{{url_for('adminlogin')}}">Admin Login</a>
            </div>
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">CONTACT</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> Telangana, India</li>
                    <li><i class="fa fa-envelope-o"></i> abdulrahman92mohd@gmail.com</li>
                    <li><i class="fa fa-phone"></i> +91 8919668452</li>
                </ul>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-6 text-center text-md-left px-5">
                <p>Copyright &copy; 2021 FLIPMART</p>
            </div>
            <div class="col-md-6 text-center text-md-right px-5 ">
                <a href="#"><img class="mx-1" src="../static/images/social-media/facebook.png" width="25"/></a>
                <a href="#"><img class="mx-1" src="../static/images/social-media/twitter.png" width="25"/></a>
                <a href="#"><img class="mx-1" src="../static/images/social-media/instagram.png" width="25"/></a>
                <a href="https://github.com/smartinternz02/SPS-9752-Customer-Care-Registry-"><img class="mx-1" src="../static/images/social-media/github.png" width="25"/></a>
            </div>
        </div>
    </footer>

    

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#filter").change(function () {
                var value = $('option:selected', this).text().toLowerCase();
                if (value == 'all') {
                    value = '';
                }
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $(".Closed").addClass("badge badge-pill badge-success Closed");
            $(".Agent").addClass("badge badge-pill badge-warning Agent Assigned");
            if($("span").hasClass("Agent")){
                $(".disable-Agent").addClass("btn-primary");
            }
            if($("span").hasClass("Closed")){
                $(".disable-Closed").attr("disabled", "true");
                $(".disable-Closed").attr("value", "Solved");
                $(".disable-Closed").addClass("btn-secondary no-drop");
            }
        });
    </script>
</body>

</html>