<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <title>Customer Care Registry</title>
</head>

<body class="body"  style="background-image: url(../static/images/background.png);">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand text-white" href="/"><img src="../static/images/logo.png" width="50"> Customer Care Registry</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('customerlogin')}}">Customer Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('agentlogin')}}">Agent Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('adminlogin')}}">Admin Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <section>
        <div class="row m-0">
            <div class="col-md-6 align-self-center pl-5 mt-5">
                <p>We Are Here For Care 24/7</p>
                <h1 style="font-family: 'Kanit', sans-serif;">CUSTOMER CARE REGISTRY</h1>
                <a class="btn btn-primary mt-3" href="{{ url_for('customerregister')}}">Get Started</a>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <img src="../static/images/background1.png" width="80%">
            </div>
        </div>
    </section>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>